<div style="display:block;" [style.width]="width" class="slider">
  <slideshow #slideshow [imageUrls]="imageUrls" [height]="height" [minHeight]="minHeight" [arrowSize]="arrowSize"
    [showArrows]="showArrows" [disableSwiping]="disableSwiping" [autoPlay]="autoPlay" [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
    [debug]="debug" [backgroundSize]="backgroundSize" [backgroundPosition]="backgroundPosition" [backgroundRepeat]="backgroundRepeat"
    [showDots]="showDots" [dotColor]="dotColor" [showCaptions]="showCaptions" [captionColor]="captionColor"
    [captionBackground]="captionBackground" [lazyLoad]="lazyLoad" [hideOnNoSlides]="hideOnNoSlides">
  </slideshow>
</div>
<div class="row center-xs">
  <div class="logo">
    <figure class="col-xs-12">
      <img alt="Angular Logo" src="../assets/logo.png">
    </figure>
    <div class="button-row">
      <button mat-raised-button routerLink="/signup">Registro</button>
      <button mat-raised-button routerLink="/login">Ingreso</button>
    </div>
  </div>