<div class="container-fluid">
  <div class="row center-xs">
    <h1 class="col-xs-12">
      Paisaje Cultural Cafetero
    </h1>
    <figure class="col-xs-12">
      <img alt="Angular Logo" src="../assets/logo.png">
    </figure>
    <div class="button-row">
      <button mat-raised-button routerLink="/signup">Signup</button>
      <button mat-raised-button routerLink="/login">Login</button>
    </div>
  </div>
</div>

<div style="display:block;"
       [style.width]="width">
    <slideshow #slideshow
               [imageUrls]="imageUrls"
               [height]="height"
               [minHeight]="minHeight"
               [arrowSize]="arrowSize"
               [showArrows]="showArrows"
               [disableSwiping]="disableSwiping"
               [autoPlay]="autoPlay"
               [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
               [debug]="debug"
               [backgroundSize]="backgroundSize"
               [backgroundPosition]="backgroundPosition"
               [backgroundRepeat]="backgroundRepeat"
               [showDots]="showDots"
               [dotColor]="dotColor"
               [showCaptions]="showCaptions"
               [captionColor]="captionColor"
               [captionBackground]="captionBackground"
               [lazyLoad]="lazyLoad"
               [hideOnNoSlides]="hideOnNoSlides">
    </slideshow>
  </div>